body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

p span.required{
	margin:5px 0;
	font-size:11px;
	padding:2px 5px;
	background:red;
	color:#ffffff;
	float:right;
	border-radius:5px;
}